@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Thai:100,200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Itim:regular);

/* Components */
@import url(src/css/components/nav.css);
@import url(src/css/components/footer.css);

/* Theme */
@import url(src/css/theme/default.css);
@import url(src/css/theme/light.css);

* {
  font-family: 'Itim', cursive;
  transition: all .3s;
}

body {
  margin: 0;
  padding: 0;
}