body {
  background: #2e2f2f;
  color: whitesmoke;
}

body * {
  color: whitesmoke;
}

/* Navigator Bar */
.buttonHolder button {
  background-color: #2e2f2f;
  border-color: whitesmoke;
}

.buttonHolder button:hover {
  background-color: #4f5151;
}

/* Index Form */
.container form input {
  border-color: whitesmoke;
}