body.light {
  background: whitesmoke;
  color: #2e2f2f;
}

body.light * {
  color: #2e2f2f;
}

.light .buttonHolder button {
  background-color: whitesmoke;
  border-color: #2e2f2f;
}

.light .buttonHolder button:hover {
  background-color: #b8b8b8;
}