.buttonHolder {
  width: 100%;

  padding: 0;

  display: flex;
  justify-content: end;
  text-align: end;

  position: fixed;
  top: .5rem;
}

.buttonHolder button {
  font-size: 18px;
  padding: .5rem;
  margin-right: .5rem;

  border: 2px solid;
}

.buttonHolder button:hover {
  cursor: pointer;
}